// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie-info { padding: 0px;display:inline-block;position:relative;}
.buttons { position:absolute;top:0px;right:0px;}
.genre-list { float: right; }
